table {
    background-color: white;
}

table tr {
    width: fit-content;
}

.table_of_contents-item {
    strong {
        font-weight: 400
    }
}

thead {
    background: rgb(150, 150, 150);
    position: sticky;
    top: 73px;
}

thead th {
    color: white;
    font-weight: 600
}

.simple-table {
    width: 100%
}

.simple-table td {
    min-width: auto;
}

body {
    max-width: 750px;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
}

h1 {
    height: 68px;
    /* position: sticky; */
    /* top: 72px; */
    padding: 12px;
    /* background: rgb(220, 220, 220); */
    z-index: 2000;
    text-align: center;
    font-size: 2.3rem;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px;
    height: 62px;
    padding: 4px 12px;
    position: sticky;
    top: 12px;
    z-index: 4000;
    border: 1px solid rgba(100, 100, 100, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    max-width: 708px;
    margin: 0 auto 24px auto;
    transition: all 0.18s ease-in;
}

header &:hover {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}

header .page-header-icon {
    height: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 12px;
}

header .icon {
    height: 58px;
    margin: 0;
    transition: all 0.18s ease-in;

    &:hover {
        transform: scale(1.06);
    }
}

header .page-header-title {
    font-size: 18px;
    font-weight: 500;
    border-left: 1px solid rgba(100, 100, 100, 0.3);
    background: transparent;
    margin: 0;
    height: auto;
    padding: 6px 12px;
    position: initial;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

header a {
    text-decoration: none;
}

header .page-description {
    margin: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    text-align: right;
    padding: 0 8px;
    cursor: pointer;

    i {
        margin-right: 8px;
    }

    &:hover {
        text-decoration: underline;
    }
}

.page-body {
    padding: 0 62px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.main-svg {
    width: 100% !important;
}